# PyCity Schools Analysis

- Your analysis here
  
---

In [13]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [30]:
# Calculate the total number of unique schools
school_count = school_data['School ID'].count()
school_count

15

In [31]:
# Calculate the total number of students
student_count = student_data['Student ID'].count()
student_count

39170

In [16]:
# Calculate the total budget
total_budget = school_data['budget'].sum()
total_budget

24649428

In [17]:
# Calculate the average (mean) math score
average_math_score = student_data['math_score'].mean()
average_math_score

78.98537145774827

In [18]:
# Calculate the average (mean) reading score
average_reading_score = student_data['reading_score'].mean()
average_reading_score

81.87784018381414

In [19]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [20]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [21]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [22]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
dis_summary=[{  "Total Schools": school_count, 
                "Total Students": student_count,
                "Total Budget": total_budget,
                "Average Math Score	": average_math_score, 
                "Average Reading Score": average_reading_score,
                "% Passing Math	": passing_math_percentage, 
                "% Passing Reading": passing_reading_percentage,
                "% Overall Passing": overall_passing_rate }]
district_summary = pd.DataFrame(dis_summary)
district_summary 
# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score\t,Average Reading Score,% Passing Math\t,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [60]:
# Use the code provided to select all of the school types
school_types = school_data[['school_name','type']]
school_types

              school_name      type
0       Huang High School  District
1    Figueroa High School  District
2     Shelton High School   Charter
3   Hernandez High School  District
4     Griffin High School   Charter
5      Wilson High School   Charter
6     Cabrera High School   Charter
7      Bailey High School  District
8      Holden High School   Charter
9        Pena High School   Charter
10     Wright High School   Charter
11  Rodriguez High School  District
12    Johnson High School  District
13       Ford High School  District
14     Thomas High School   Charter

In [24]:
# Calculate the total student count per school

per_school_counts = school_data[['school_name','size']]
per_school_counts

              school_name  size
0       Huang High School  2917
1    Figueroa High School  2949
2     Shelton High School  1761
3   Hernandez High School  4635
4     Griffin High School  1468
5      Wilson High School  2283
6     Cabrera High School  1858
7      Bailey High School  4976
8      Holden High School   427
9        Pena High School   962
10     Wright High School  1800
11  Rodriguez High School  3999
12    Johnson High School  4761
13       Ford High School  2739
14     Thomas High School  1635

In [28]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data[['school_name','budget']]
school_data['Per student budget']= school_data['budget']/ school_data['size']
per_school_capita =school_data[['school_name','Per student budget']]
per_school_capita

              school_name  Per student budget
0       Huang High School               655.0
1    Figueroa High School               639.0
2     Shelton High School               600.0
3   Hernandez High School               652.0
4     Griffin High School               625.0
5      Wilson High School               578.0
6     Cabrera High School               582.0
7      Bailey High School               628.0
8      Holden High School               581.0
9        Pena High School               609.0
10     Wright High School               583.0
11  Rodriguez High School               637.0
12    Johnson High School               650.0
13       Ford High School               644.0
14     Thomas High School               638.0

In [34]:
# Calculate the average test scores per school
per_school_math = school_data_complete[['school_name','math_score']].groupby(['school_name']).mean()
#per_school_math
per_school_reading = school_data_complete[['school_name','reading_score']].groupby(['school_name']).mean()
#per_school_reading

                       reading_score
school_name
Bailey High School         81.033963
Cabrera High School        83.975780
Figueroa High School       81.158020
Ford High School           80.746258
Griffin High School        83.816757
Hernandez High School      80.934412
Holden High School         83.814988
Huang High School          81.182722
Johnson High School        80.966394
Pena High School           84.044699
Rodriguez High School      80.744686
Shelton High School        83.725724
Thomas High School         83.848930
Wilson High School         83.989488
Wright High School         83.955000

In [55]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete.loc[school_data_complete['math_score']>=70]
#students_passing_math = students_passing_math[['school_name','math_score']].groupby(['school_name']).count()
school_students_passing_math = students_passing_math['school_name'].value_counts()
school_students_passing_math
#school_data_complete['% passing math']= (students_passing_math/school_data_complete['school_name'].value_counts())*100
#chool_students_passing_math = school_data_complete[['school_name','% passing math']]
#school_students_passing_math

school_name
Bailey High School       3318
Johnson High School      3145
Hernandez High School    3094
Rodriguez High School    2654
Wilson High School       2143
Figueroa High School     1946
Huang High School        1916
Ford High School         1871
Cabrera High School      1749
Wright High School       1680
Shelton High School      1653
Thomas High School       1525
Griffin High School      1371
Pena High School          910
Holden High School        395
Name: count, dtype: int64

In [57]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading =  school_data_complete.loc[school_data_complete['reading_score']>=70]
school_students_passing_reading = students_passing_reading['school_name'].value_counts()

In [58]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [59]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [66]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_sch_summary=school_data.rename(columns={'school_name':'School name',
                                            'type':'School type',
                                            'size':'Total students',
                                            'budget':'Total school budget'
                                            })
per_sch_summary = per_sch_summary[['School name','School type','Total students','Total school budget','Per student budget']]
# per_sch_summary['Average math score']=per_school_math['math_score']
# per_sch_summary['Average reading score']=per_school_reading['reading_score']
# per_sch_summary['% passing math']=
# per_sch_summary['% passing reading']=
# per_sch_summary['% overall passing']=

per_sch_summary
#per_school_summary = 

# # Formatting
# per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
# per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# # Display the DataFrame
# per_school_summary

,School name,School type,Total students,Total school budget,Per student budget,Average math score,Average reading score
0,Huang High School,District,2917,1910635,655.0,NaN,NaN
1,Figueroa High School,District,2949,1884411,639.0,NaN,NaN
2,Shelton High School,Charter,1761,1056600,600.0,NaN,NaN
3,Hernandez High School,District,4635,3022020,652.0,NaN,NaN
4,Griffin High School,Charter,1468,917500,625.0,NaN,NaN
5,Wilson High School,Charter,2283,1319574,578.0,NaN,NaN
6,Cabrera High School,Charter,1858,1081356,582.0,NaN,NaN
7,Bailey High School,District,4976,3124928,628.0,NaN,NaN
8,Holden High School,Charter,427,248087,581.0,NaN,NaN
9,Pena High School,Charter,962,585858,609.0,NaN,NaN
10,Wright High School,Charter,1800,1049400,583.0,NaN,NaN
11,Rodriguez High School,District,3999,2547363,637.0,NaN,NaN
12,Johnson High School,District,4761,3094650,650.0,NaN,NaN
13,Ford High School,District,2739,1763916,644.0,NaN,NaN
14,Thomas High School,Charter,1635,1043130,638.0,NaN,NaN

## Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = 
top_schools.head(5)

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = 
bottom_schools.head(5)

## Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = 
tenth_grader_math_scores = 
eleventh_grader_math_scores = 
twelfth_grader_math_scores = 

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = 

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = 
tenth_grader_reading_scores = 
eleventh_grader_reading_scores = 
twelfth_grader_reading_scores = 

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = 

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [ ]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = 
school_spending_df

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = 
per_school_summary

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = 

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = 

# Display results
type_summary